---
- name: "Add Velero Helm repository"
  become: true
  become_user: kubernetes
  kubernetes.core.helm_repository:
    name: "vmware-tanzu"
    repo_url: "{{ velero_helm_repository }}"

- name: Install Velero
  become: true
  become_user: kubernetes
  retries: 12
  delay: 10
  kubernetes.core.helm:
    name: velero
    chart_ref: vmware-tanzu/velero
    release_namespace: velero
    create_namespace: true
    values:
      initContainers:
        - name: velero-plugin-for-azure
          image: velero/velero-plugin-for-microsoft-azure:v1.7.0
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /target
              name: plugins
        - name: velero-plugin-for-csi
          image: velero/velero-plugin-for-csi:v0.5.0
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /target
              name: plugins
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      configuration:
        backupStorageLocation:
          - name: velero
            provider: azure
            default: true
            bucket: "{{ velero_bucket }}"
            accessMode: ReadWrite
            config:
              resourceGroup: "{{ velero_resourceGroup }}"
              subscriptionId: "{{ velero_subscriptionId }}"
              storageAccount: "{{ velero_storageAccount }}"
        volumeSnapshotLocation:
          - name: velero
            provider: azure
            bucket: "{{ velero_bucket }}"
            config:
              resourceGroup: "{{ velero_resourceGroup }}"
              subscriptionId: "{{ velero_subscriptionId }}"
        defaultVolumesToFsBackup: false
      credentials:
        secretContents:
          cloud: |
            AZURE_TENANT_ID={{ velero_tenantId }}
            AZURE_SUBSCRIPTION_ID={{ velero_subscriptionId }}
            AZURE_CLIENT_ID={{ velero_clientId }}
            AZURE_CLIENT_SECRET={{ lookup('env', 'AZURE_CLIENT_SECRET') }}
            AZURE_RESOURCE_GROUP={{ velero_resourceGroup }}
            AZURE_CLOUD_NAME=AzurePublicCloud
      snapshotsEnabled: true
      deployNodeAgent: true
      nodeAgent:
        dnsConfig:
          options:
            - name: ndots
              value: "1"
