- name: "Requirements"
  hosts: k8s_cluster
  tasks:
    - name: "Install required packages"
      package:
        name:
          - iproute-tc
        state: present

    - name: "Disable the firewall"
      service:
        name: firewalld
        state: stopped
        enabled: false

- name: "Install Kubernetes"
  ansible.builtin.import_playbook: kubernetes_sigs.kubespray.cluster

- name: "Configure kubernetes user"
  hosts: kube_control_plane
  tasks:
    - name: "Alias k"
      lineinfile:
        path: /home/kubernetes/.bashrc
        line: "alias k=kubectl"
        regexp: "^alias k=kubectl$"
        state: present

    - name: "Autocomplete kubectl"
      lineinfile:
        path: /home/kubernetes/.bashrc
        line: "source <(kubectl completion bash)"
        regexp: "^source <(kubectl completion bash)$"
        state: present

    - name: "Autocomplete k"
      lineinfile:
        path: /home/kubernetes/.bashrc
        line: "complete -o default -F __start_kubectl k"
        regexp: "^complete -o default -F __start_kubectl k$"
        state: present

    - name: "Ensure .kube directory exists"
      file:
        path: "/home/kubernetes/.kube"
        state: directory
        mode: 0770
        owner: "kubernetes"
        group: "kubernetes"

    - name: "Symlink kubectl admin.conf to /home/kubernetes/.kube/conf"
      file:
        src: /etc/kubernetes/admin.conf
        dest: /home/kubernetes/.kube/config
        state: link
        owner: "kubernetes"
        group: "kubernetes"

- name: "Install kubernetes services"
  hosts: kube_control_plane
  become: true
  roles:
    - role: ceph
    - role: velero
