ansible-core==2.20.0 # locked for compatibility with Kubespray
distlib==0.4.0 # Required to install collections
requests==2.32.5 # Required for Proxmox dynamic inventory
passlib==1.7.4
netaddr
jmespath